
input{
    margin: 10px 0;
}

.reset-button {
    width: 20%;
    background-color: #4CAF50;
    color: #fff;
    padding: 14px 20px;
    margin-top:8px;
    border: none;
}

.reset-button:hover {
    background-color: #45a049;
}